.mediaViewInfo {
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920__1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Web_1920__1_Class {
	position: absolute;
	width: 1920px;
	height: 2173px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920__1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
._2-___-_Class {
	position: absolute;
	width: 1932px;
	height: 2173px;
	left: -6px;
	top: 0px;
	overflow: visible;
}
._1_Class {
	fill: rgba(228,228,228,1);
}
._1 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 95px;
	left: 0px;
	top: 0px;
}
._-4_Class {
	position: absolute;
	width: 85px;
	height: 95px;
	left: 140px;
	top: 0px;
	overflow: visible;
}
._2_k_Class {
	fill: url(#_2_k);
}
._2_k {
	position: absolute;
	overflow: visible;
	width: 95px;
	height: 95px;
	left: 220px;
	top: 0px;
}
._Class {
	left: 1382px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
._m_Class {
	left: 1520px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.___Class {
	left: 1690px;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
._3_p_Class {
	fill: url(#_3_p);
}
._3_p {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 68px;
	left: 0px;
	top: 94px;
}
._4_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._4 {
	position: absolute;
	overflow: visible;
	width: 398px;
	height: 580px;
	left: 416px;
	top: 290px;
}
._6_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._6 {
	position: absolute;
	overflow: visible;
	width: 398px;
	height: 580px;
	left: 1106px;
	top: 290px;
}
.iframe_stylewidth326pxheight22_Class {
	left: 330px;
	top: 700px;
	position: absolute;
	overflow: visible;
	width: 500px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.iframe_stylewidth326pxheight22_t_Class {
	left: 960px;
	top: 700px;
	position: absolute;
	overflow: visible;
	width: 675px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
._7_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._7 {
	position: absolute;
	overflow: visible;
	width: 398px;
	height: 580px;
	left: 420px;
	top: 1236px;
}
._8_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._8 {
	position: absolute;
	overflow: visible;
	width: 398px;
	height: 580px;
	left: 1110px;
	top: 1236px;
}
.iframe_stylewidth326pxheight22_w_Class {
	left: 330px;
	top: 1646px;
	position: absolute;
	overflow: visible;
	width: 500px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.iframe_stylewidth326pxheight22_x_Class {
	left: 964px;
	top: 1646px;
	position: absolute;
	overflow: visible;
	width: 675px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
._Orange_Class {
	left: 380px;
	top: 1111px;
	position: absolute;
	overflow: visible;
	width: 399px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
._Orange_z_Class {
	left: 1070px;
	top: 1111px;
	position: absolute;
	overflow: visible;
	width: 399px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
._Orange__Class {
	left: 380px;
	top: 165px;
	position: absolute;
	overflow: visible;
	width: 399px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
._Orange_ba_Class {
	left: 1070px;
	top: 165px;
	position: absolute;
	overflow: visible;
	width: 399px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}